<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>CS546 Final Project</title>
</head>

<body>
    <!--body-->
    <div class="container">
        <div class="viewCount">
            <p>{{postInfo.viewCount}} Read</p>
        </div>
        <div class="row">
            {{#if postInfo}}

            <div class="col-sm-4">
                <div class="row">
                    <div class="post-imgs col-sm-9">
                        {{#each postInfo.photoArr}}
                        <img class="PostImg" src={{this}}>
                        <br/>
                        <br/>
                        <br/>
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <h4>
                    {{#each postInfo.tagArr}}
                    <span class="label label-danger">{{this}}</span>
                    {{/each}}
                </h4>
                <h4>
                    <div class="post-time">{{postInfo.date}}</div>
                </h4>
                <br />
                <div class="panel panel-danger">
                    <div class="panel-body">
                        <span class="PostTopic" id={{postInfo._id}}>{{postInfo.nickName}}:{{postInfo.topic}}</span>
                        <span class="post-glyphicon">
                            {{#if userLogin}}
                                <span id="likeCountId" class="glyphicon glyphicon-thumbs-up"
                                      aria-hidden="true">{{postInfo.likeCount.length}}</span>
                                <span id="dislikeCountId" class="glyphicon glyphicon-thumbs-down"
                                      aria-hidden="true">{{postInfo.dislikeCount.length}}</span>
                            {{else}}
                                <span id="likeCountN" class="glyphicon glyphicon-thumbs-up"
                                      aria-hidden="true">{{postInfo.likeCount.length}}</span>
                                <span id="dislikeCountN" class="glyphicon glyphicon-thumbs-down"
                                      aria-hidden="true">{{postInfo.dislikeCount.length}}</span>
                            {{/if}}
                        </span>
                    </div>
                    <div class="panel-footer">
                        {{postInfo.content}}
                        <br />
                        <br />
                    </div>

                    {{#if commentsInfo}}
                    <ul class="list-group">
                        {{#each commentsInfo}}
                        <li class="list-group-item">
                            <h6><span class="commentUser">{{this.userNickname}}:</span><span class="post-time">{{this.date}}</span></h6>{{this.content}}
                        </li>
                        {{/each}}
                    </ul>
                    {{else}}
                    <ul class="list-group">
                        <li class="list-group-item">No Comments.</li>
                    </ul>
                    {{/if}}
                </div>
                <span id="twoButtonsinPost">
                    <!--Add new comment-->
                    {{#if userLogin}}
                        <div id="addNewComment">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal"
                            data-whatever="@getbootstrap">Add comment</button>&nbsp;&nbsp;
                    <a id="ReportThis" class="btn AllButton" href="">Report</a>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <form id="bbb" method="post" action="http://localhost:3000/posts/addComment">
                                        <div class="form-group">
                                            <input hidden="hidden" name="postId" value={{postInfo._id}}>
                                            <label for="message-text" class="control-label"></label>
                                            <textarea name="commentContent" class="form-control" rows="7"
                                                      id="message-text" placeholder="Say something about this post."></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button id="addComment" type="submit" class="btn AllButton">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    {{/if}}
                    <div hidden id="likeTip" class="alert alert-danger" role="alert">Login to like/dislike this post.</div>
                </span>
            </div>
            {{/if}}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script type="text/javascript">

        var ID = $('.PostTopic').attr('id');
        // console.log(ID);

        $('#ReportThis').click(function () {
            var url = `http://localhost:3000/reports/form?id=${ID}`;
            $(this).attr('href', url);
        })

        $('#likeCountN, #dislikeCountN').click(function () {
            $('#likeTip').show();
            let timeOut = setTimeout(function () {
                $('#likeTip').hide();
            }, 2500)
        })

        $('#likeCountId').click(function () {
            //console.log($('.PostTopic').attr('id'));
            $.get("http://localhost:3000/posts/like", { postId: ID }, function (response) {
                $('#likeCountId').text(response.likeCount.length);
            })
        })

        $('#dislikeCountId').click(function () {
            //console.log($('.PostTopic').attr('id'));
            $.get("http://localhost:3000/posts/dislike", {postId: ID}, function (response) {
                $('#dislikeCountId').text(response.dislikeCount.length);
            })
        })
    </script>
</body>

</html>
